<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZGNCDSW.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8F0669431CC4E7ED007CD423</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F06695C1CC4E7ED007CD423</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F0669671CC4E7ED007CD423</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
