<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>女装，上衣</string>
		<key>title</key>
		<string>时尚印记2015春季新款上衣蕾丝绣花短秀</string>
		<key>price</key>
		<string>169</string>
		<key>icon</key>
		<string>img_goods1.png</string>
		<key>purchaseNum</key>
		<string>215</string>
		<key>comment</key>
		<string>98%</string>
		<key>describe</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>女装，裙</string>
		<key>title</key>
		<string>蕾丝连衣裙2015夏季欧根纱无袖连衣裙修身韩版雪纺女装绣花蓬裙</string>
		<key>price</key>
		<string>188</string>
		<key>icon</key>
		<string>img_goods2.png</string>
		<key>purchaseNum</key>
		<string>325</string>
		<key>comment</key>
		<string>99%</string>
		<key>describe</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>女装，裙</string>
		<key>title</key>
		<string>2015新款春夏季韩版显瘦两件套蕾丝长裙中长款连衣裙女潮</string>
		<key>price</key>
		<string>128</string>
		<key>icon</key>
		<string>img_goods3.png</string>
		<key>purchaseNum</key>
		<string>485</string>
		<key>comment</key>
		<string>100%</string>
		<key>describe</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>女装，裙</string>
		<key>title</key>
		<string>美都汇2015连衣裙夏韩版纯色女装拼接</string>
		<key>price</key>
		<string>85</string>
		<key>icon</key>
		<string>img_goods4.png</string>
		<key>purchaseNum</key>
		<string>85</string>
		<key>comment</key>
		<string>95%</string>
		<key>describe</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>女装，针织衫</string>
		<key>title</key>
		<string>2015秋冬季韩版女士针织衫</string>
		<key>price</key>
		<string>178</string>
		<key>icon</key>
		<string>img_goods5.png</string>
		<key>purchaseNum</key>
		<string>100</string>
		<key>comment</key>
		<string>98%</string>
		<key>describe</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>男装皮衣</string>
		<key>title</key>
		<string>2015秋冬季男士新款真皮皮衣</string>
		<key>price</key>
		<string>119</string>
		<key>icon</key>
		<string>6.jpg</string>
		<key>purchaseNum</key>
		<string>80</string>
		<key>comment</key>
		<string>100%</string>
		<key>describe</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>男装，t恤</string>
		<key>title</key>
		<string>2015秋季新款男士长袖t恤</string>
		<key>price</key>
		<string>58</string>
		<key>icon</key>
		<string>7.jpg</string>
		<key>purchaseNum</key>
		<string>378</string>
		<key>comment</key>
		<string>90%</string>
		<key>describe</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>男装，上衣</string>
		<key>title</key>
		<string>2016秋冬季新款青少年牛仔上衣</string>
		<key>price</key>
		<string>69</string>
		<key>icon</key>
		<string>8.jpg</string>
		<key>purchaseNum</key>
		<string>190</string>
		<key>comment</key>
		<string>88%</string>
		<key>describe</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>女装，韩版</string>
		<key>title</key>
		<string>韩版秋季日系复古英潮</string>
		<key>price</key>
		<string>98</string>
		<key>icon</key>
		<string>9.jpg</string>
		<key>purchaseNum</key>
		<string>150</string>
		<key>comment</key>
		<string>96%</string>
		<key>describe</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>女装，外套</string>
		<key>title</key>
		<string>秋季新款针织外套开衫</string>
		<key>price</key>
		<string>198</string>
		<key>icon</key>
		<string>10.jpg</string>
		<key>purchaseNum</key>
		<string>150</string>
		<key>comment</key>
		<string>99%</string>
		<key>describe</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>女装，裙</string>
		<key>title</key>
		<string>时尚印记2015春季新款上衣蕾丝绣花短秀</string>
		<key>price</key>
		<string>169</string>
		<key>icon</key>
		<string>1.jpg</string>
		<key>purchaseNum</key>
		<string>215</string>
		<key>comment</key>
		<string>98%</string>
		<key>describe</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>女装，裙</string>
		<key>title</key>
		<string>时尚印记2015春季新款上衣蕾丝绣花短秀</string>
		<key>price</key>
		<string>169</string>
		<key>icon</key>
		<string>1.jpg</string>
		<key>purchaseNum</key>
		<string>215</string>
		<key>comment</key>
		<string>98%</string>
		<key>describe</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>女装，裙</string>
		<key>title</key>
		<string>蕾丝连衣裙2015夏季欧根纱无袖连衣裙修身韩版雪纺女装绣花蓬裙</string>
		<key>price</key>
		<string>188</string>
		<key>icon</key>
		<string>2.jpg</string>
		<key>purchaseNum</key>
		<string>325</string>
		<key>comment</key>
		<string>99%</string>
		<key>describe</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>女装，裙</string>
		<key>title</key>
		<string>蕾丝连衣裙2015夏季欧根纱无袖连衣裙修身韩版雪纺女装绣花蓬裙</string>
		<key>price</key>
		<string>188</string>
		<key>icon</key>
		<string>2.jpg</string>
		<key>purchaseNum</key>
		<string>325</string>
		<key>comment</key>
		<string>99%</string>
		<key>describe</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>女装，裙</string>
		<key>title</key>
		<string>2015新款春夏季韩版显瘦两件套蕾丝长裙中长款连衣裙女潮</string>
		<key>price</key>
		<string>128</string>
		<key>icon</key>
		<string>3.jpg</string>
		<key>purchaseNum</key>
		<string>485</string>
		<key>comment</key>
		<string>100%</string>
		<key>describe</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>女装，裙</string>
		<key>title</key>
		<string>美都汇2015连衣裙夏韩版纯色女装拼接</string>
		<key>price</key>
		<string>85</string>
		<key>icon</key>
		<string>4.jpg</string>
		<key>purchaseNum</key>
		<string>85</string>
		<key>comment</key>
		<string>95%</string>
		<key>describe</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>女装，针织衫</string>
		<key>title</key>
		<string>2015秋冬季韩版女士针织衫</string>
		<key>price</key>
		<string>178</string>
		<key>icon</key>
		<string>5.jpg</string>
		<key>purchaseNum</key>
		<string>100</string>
		<key>comment</key>
		<string>98%</string>
		<key>describe</key>
		<string></string>
	</dict>
</array>
</plist>
